.App {
  text-align: center;
}

.Main {
  padding-top: 100px;
}

input[type=text] {
  width: 325px;
  height: 70px;
  font-size: 2.5em;
  margin: 1px 0;
  border: 2px solid #555;
  text-align: right;
}

Button {
  width: 80px;
  height: 80px;
}

.btnClass {
  padding: 0.5px;
}